.FocusPanel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 5vh 0vh 5vh 0vh;
    box-sizing: border-box;
  /*background-color: blanchedalmond;*/
}


.title-section {
  flex-grow: 1;
  background-color: #ceb4ff;
  display: flex;
  flex-direction: row;
  


}

.hourglass-section {
  flex-grow: 4;
  background-color: #ffc09b;
}


.progress-label-section {
  flex-grow: 1;
  background-color: #ffbee9;
}


.progress-counter-section {
  flex-grow: 1;
  background-color: #00ff80;
}
